body {
  background-color: rgb(248, 248, 248);
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: poppins;
  gap: 20px;
}

.bold {
  font-weight: 500;
}

.project1__header {
  font-weight: 400;
  text-align: center;
  color: rgb(12, 12, 12);
  padding-top: 100px;
  font-size: 2rem;
  font-family: poppins;
}

.project1__type {
  font-weight: 300;
  font-size: 1.5rem;
  color: rgb(12, 12, 12);
  font-family: poppins;
}

.project__tech {
  font-size: 1.5rem;
  font-family: poppins;
  color: rgb(12, 12, 12);
  font-weight: 300;
}

.links__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main-image,
.main-image2 {
  object-fit: contain;
  width: 500px;
  height: 400px;
  border-radius: 2px;
}

.project__image {
  width: 600px;
  border-radius: 2px;
}
.img__github {
  display: flex;
  width: 40px;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.img__github:hover {
  opacity: 0.8;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.live__site {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  background-color: #e8e8e8;
  outline: none;
  border-radius: 30px;
  color: black;
  transition: all 0.2s ease;
  font-family: "poppins", sans-serif;
}

.live__site:hover {
  opacity: 0.8;
  transition: all 0.2s ease;
}

.project__description {
  color: rgb(12, 12, 12);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 150%;
  width: 50%;
  text-align: justify;
}

.fade {
  animation: fadeIn 2s;
  overflow: hidden;
}

.next__project {
  font-size: 1.5rem;
  text-align: center;
  padding: 12px 20px;
  background-color: #e8e8e8;
  border-radius: 30px;
  height: 100%;
  width: 15%;
  color: rgb(12, 12, 12);
  text-decoration: none;
  font-weight: 500;
  outline: none;
  transition: all 0.2s ease;
  font-family: "poppins", sans-serif;
  margin: 50px 0px 100px 0px;
}

.next__project:hover {
  transition: all 0.2s ease;
  opacity: 0.8;
  color: rgb(117, 117, 117);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(+20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 650px) {
  .project__image {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .main-image,
  .main-image2 {
    width: 100%;
  }

  .project1__header {
    font-size: 30px;
  }

  .project1__type,
  .project__tech,
  .next__project {
    font-size: 20px;
    text-align: center;
  }

  .project__description {
    font-size: 20px;
    line-height: 150%;
    width: 80%;
  }

  .next__project {
    width: 45%;
  }
}
