body {
  background-color: rgb(12, 12, 12);
}

/* head */

.hero {
  height: 100vh;
}

h1,
h2,
h3,
#description {
  font-weight: 900;
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: "PT SANS", sans-serif;
  font-size: calc(min(7vw, 14vh));
  line-height: 130%;
}

h1 {
  padding-top: 250px;
  padding-bottom: 2rem;
}

.links__container {
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.email:hover,
.cv:hover,
.linkedin:hover,
.github:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.github {
  width: 50px;
  transition: all 0.3s ease;
}

.email {
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cv {
  width: 60px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.linkedin {
  border-radius: 50%;
  color: white;
  background-color: white;
  width: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bio__header {
  border-radius: 10px;
  font-size: 34px;
}
.bio__container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #121212;
}
.bio__text {
  width: 600px;
  line-height: 150%;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 24px;
}

.about__contact {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f46b45;

  text-decoration: none;
  transition: ease-in-out 0.3s;
}

.about__contact:hover {
  color: white;
  transition: ease-in-out 0.3s;
}

.fade {
  animation: fadeIn 1s;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(+20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.links__container {
  gap: 50px;
}

.box h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.box h2::after {
  content: "";
  width: 12px;
  padding-bottom: 10px;
  height: 60px;
  background: #fd746c;
  display: inline-block;
}

.box h2::after {
  animation: cursor-blink 1s steps(2) infinite;
}
.p__header {
  font-family: "PT sans", sans-serif;
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 80px;
  font-size: 400%;
  font-weight: 900;
}

.projects__wrapper {
  color: white;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(2, 2fr);
  gap: 100px;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 100px;
  padding-bottom: 40px;
}

.project1 {
  grid-column: 1;
  grid-row: 1;
}

.project2 {
  grid-column: 2;
  grid-row: 1;
}

.project3 {
  grid-column: 1;
  grid-row: 2;
}

.project4 {
  grid-column: 2;
  grid-row: 2;
}

.project1,
.project2,
.project3,
.project4 {
  background-size: cover;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: rgb(47, 47, 47);
  transition: ease-in-out 0.3s;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
  opacity: 0.8;
  cursor: pointer;
  box-shadow: rgb(251, 117, 68) 5px 5px 12px;
}

#contact {
  margin-top: 100px;
  padding-top: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  height: 200px;
}

.email__footer {
  color: white;
  font-family: "PT sans";
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  text-align: justify;
  justify-content: center;
}

.email__address {
  font-weight: 100;
  font-family: "PT Sans";
  font-weight: bold;
  text-decoration: none;
  color: #f46b45;

  transition: ease-in-out 0.2s;
}

.email__address:hover {
  transition: ease-in-out 0.2s;
  color: white;
}

/* MEDIA */

@media (max-width: 1100px) {
  h1 {
    padding-top: 200px;
  }
  h1,
  h2 {
    font-size: 50px;
    text-align: center;
    justify-content: center;
  }

  .github,
  .email,
  .cv {
    display: flex;
    width: 50px;
  }

  .bio__container {
    padding: 20px 20px 20px 20px;
  }

  .bio__text {
    font-size: 20px;
  }

  .box h2::after {
    display: none;
  }

  .h3 {
    transform: scale(1.5);
  }

  .projects__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  #contact {
    margin-top: 0px;
    padding-top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    height: 200px;
  }
  .email__footer {
    font-size: 1.2rem;
  }
  h1,
  #description {
    font-size: calc(min(14vw, 14vh));
  }

  .projects__wrapper {
    transform: scale(0.7);
  }
}

@media (max-width: 400px) {
  .project1,
  .project2,
  .project3,
  .project4 {
    transform: scale(0.8);
  }
}
